DEBUG=True
SECRET_KEY=SECRET_KEY

# Brand
SENDER_DOMAIN_NAME=Athenura
ATHENURA_SECRET_KEY=123456

# Groq api
GROQ_API_KEY=GROQ_API_KEY
GROQ_MODEL=GROQ_MODEL

# Brevo 
BREVO_API_KEY=BREVO_API_KEY
DEFAULT_FROM_EMAIL=DEFAULT_FROM_EMAIL

# Db
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT