{% extends "core/base.html" %}

{% block title %}Sign In | {{block.super}}{% endblock %}

{% block content %}
<h1>Sign In Page</h1>

<form method="POST" action="{% url 'signin_view' %}?next={{ request.GET.next }}" novalidate>
  {% csrf_token %}

  {{ form.email.label_tag }}
  {{ form.email }}
  {{ form.email.errors }}

  {{ form.password.label_tag }}
  {{ form.password }}
  {{ form.password.errors }}

  <a href="{% url 'forgot_password' %}">forgot password</a>

  <button type="submit">Login</button>

  {{ form.non_field_errors }}
</form>
{% endblock %}