{% extends "core/base.html" %}

{% block title %}Blogs | {{block.super}}{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-50">

<div class="max-w-6xl mx-auto py-12 grid grid-cols-3 gap-8">

    <!-- FORM AREA -->

    <div id="form-area" class="col-span-1">
        {% include "blog/partials/form.html" %}
    </div>

    <!-- OUTPUT AREA -->

    <div id="blog-output" class="col-span-2 space-y-6">

        <div class="bg-white rounded-xl p-10 shadow text-center text-gray-400">
            Your generated blog will appear here
        </div>

    </div>

</div>

</div>


{% endblock %}