<ul class="flex justify-center items-center text-xl text-red-200 gap-5 bg-gray-600 h-12 rounded-lg">
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'blog' %}">Blog Generator</a></li>
    <li><a href="{% url 'caption' %}">Caption Ai</a></li>
    <li><a href="{% url 'article' %}">Artical Generator</a></li>
    <li><a href="{% url 'social_media' %}">Social Ideas</a></li>
    <li><a href="{% url 'logout' %}" class="bg-red-500 text-white px-3 py-1 rounded">Logout</a></li>
    {% else %}
    <li><a href="{% url 'signin_view' %}">Sign In</a></li>
    <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
    {% endif %}
</ul>